PingWrapperSoapService/Connected Services/PingSoapService/PingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PingSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PingSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingRequest" nillable="true" type="tns:PingRequest" />
  <xs:complexType name="PingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingResponse" nillable="true" type="tns:PingResponse" />
</xs:schema>